.writeMsg {
  background-color: #fff;
  width: 100%;
  max-width: 600px; /* Maximal bredd för större skärmar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6rem;
  text-align: left;
  flex-grow: 1;
  margin-top: 5rem;
}

.writeMsgInput {
  text-align: left;
  border: none;
}

.userName,
.postMessage {
  width: 100%;
  max-width: 600px;
}

.userName {
  padding: 8rem 0rem 3rem 0rem;
}

.postMessage {
  padding: 1rem;
  font-size: 1rem;
  background-color: #ef4343;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2rem;
}
