* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  background-color: #19274a;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Anpassning för större skärmar */
@media (min-width: 768px) {
  .App {
    height: 100vh;
  }
}
